<h1>Your Text Analysis</h1>

<h2><%= count_of_words %> Number of Words: </h2>

<h2><%= count_of_vowels %> Vowels: </h2>

<h2><%= count_of_consonants %> Consonants: </h2>

<h2><%= most_used_letter %> Most Common Letter: _____ used _____ times</h2>
